@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="get" asp-page="/Login">
    <button type="submit"
        style="padding:8px 16px; background-color:green; color:white; border:none; border-radius:4px;">
        Login
    </button>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>